<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Data</title>
</head>
<body>
<h1>Data List</h1>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${data}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.password}">password</td>
    </tr>
    </tbody>
</table>
</body>
</html>
